@{
    Layout = "_ExternalLayout";
    ViewData["Title"] = "Página Não Encontrada";
}

<div class="content-center">
    <img src="~/images/warning.png" alt="warning" />
    <p class="mt-4">O link <code>@ViewData["link"]</code> não existe ou não está disponível no momento.</p>
</div>